[Unit]
Description=ArchivesSpace Docker stack
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/deploy/archivesspace-docker
ExecStart=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml down
ExecReload=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml up
Restart=on-failure
RestartSec=180
StartLimitInterval=550
StartLimitBurst=3

[Install]
WantedBy=multi-user.target

