[Unit]
Description=ArchivesSpace Docker stack
After=docker.service
Requires=docker.service
StartLimitInterval=30min
StartLimitBurst=20

[Service]
Type=simple
WorkingDirectory=/home/deploy/archivesspace-docker
ExecStart=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml down
ExecReload=/usr/local/bin/docker-compose -f /home/deploy/archivesspace-docker/docker-compose.yml up
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target

